body{
    font-family: 'Lato', sans-serif;
  
}
h1{
font-size: 60px;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 48%;
    float: left;
    margin-left: 10px;
    padding-left:5px;
}
.half-width img{
    width: 100%;
}
.top-bannar{
    background-image: url("images/top-banner.png");
    /* border: 2px solid red; */
}
section{
    height: 500px;
}